* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

/* Header Section  */

.headerContainer {
    background-color: #1f2937;
    padding: 0 100px 100px;

}

.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 300px;

}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul a {
    text-decoration: none;
    color: #e5e7eb;
}

.mainTitle {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 120px;
}

.title h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.title p {
    font-size: 18px;
    color: #e5e7eb;

}

.title {
    flex-basis: 400px;
}

#firstBtn {
    margin-top: 20px;
    width: 100px;
    padding: 6px;
    border-radius: 12px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
}

img {
    width: auto;
    height: 300px;
    border: none;
    border-radius: 12px;
}


.imageHolder {
    width: 400px;
    height: auto;

}

/* INFORMATION */

#infoTitle {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top: 50px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.card {

    width: 150px;
    height: 150px;
    background-color: white;
    border: 3px #3882f6 solid;
    border-radius: 12px;
}

.text {
    width: 150px;
    text-align: center;
    font-size: 18px;
    color: grey;
    margin-bottom: 100px;

}

/* Quote */
.quote {
    background-color: #e5e7eb;
    padding: 100px 300px;

}

.quote>p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.name {
    text-align: end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

/* Sign up */
.signupContainer {
    padding: 50px 200px;
}

.box {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    padding: 50px 5px;
    border-radius: 10px;

}

.box .btn {
    display: flex;
    align-items: center;
}

.btn button {
    padding: 10px 20px;
    background-color: #3882f6;
    color: aliceblue;
    border: white solid 2px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}